# Clangd Language Server, in YAML format, for reference regarding the checks and options available refer to:
#   - clangd-15 --help
#   - https://clangd.llvm.org/config
# For clang-tidy and clang-format related operations within clangd, the .clang-tidy and .clang-format files are used.

CompileFlags:
  Add: [-D_CLANGD=1]
  # CompilationDatabase: .cmake_build/client # For client target, restart clangd afterwards.
  # CompilationDatabase: .cmake_build/server # For server target, restart clangd afterwards.
  CompilationDatabase: .cmake_build # For tests, restart clangd afterwards.
Diagnostics:
  Suppress: [
    # Supress unknown pragma due to the following issue, which causes diagnotic push / pop to be detected as errors:
    #   - https://github.com/clangd/clangd/issues/1167
    "-Wunknown-pragmas",
    # Suppress empty translation unit diagnostic, for files that only have comments or conditional compilation.
    "-Wempty-translation-unit"
  ]
Index:
  Background: Build
  StandardLibrary: No
InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: No
