# Ignore path to dependencies.
/other/powershell_scripts
/tests/googletest/googletest
# Ignore Python cache folders.
/**/__pycache__
# Ignore CMake build directory.
.cmake_build
# Ignore all logs.
/**/*.log
# Ignore test results and coverage reports.
/tests/.coverage
/tests/.test_results
# Ignore CppCheck build directories.
/other/cppcheck/.build
/other/cppcheck/.report
# Ignore Doxygen, Sphinx and related documentation files.
/doc/.doxygen_build
/doc/.sphinx_build
/doc/.output
# Ignore distributables.
dist

# Ignore version file.
/src/utils/version/inc/utils/version/priv/info.hpp
